body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4CAF50, #2196F3); /* Adjust colors as needed */
}

.container {
    display: flex;
}
.dot.head {
    background: transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #000;
}



    #game-board {
    position: relative;
    height: 80vh; /* 80% of the viewport height */
    width: 100vw; /* 80% of the viewport width */
    border: 1px solid black;
}



.score-column {
    margin-left: 20px;
}

.dot {
    position: absolute;
    height: 20px;
    width: 20px;
    background: #000;
}
#game-over-modal .modal-content {
    background-color: red;
    font-family: 'Times New Roman';
    /* ... existing styles ... */
}

#restart-button-modal {
    width: 50%; 
    font-size: 20px; 
    background-color: purple; 
    color: white; 
    font-family: 'Times New Roman';
    /* ... existing styles ... */
}
.apple {
    position: absolute;
    height: 20px;
    width: 20px;
    background: #f00;
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
}

#score-display {
    font-size: 20px;
}

#final-score {
    font-size: 18px;
}
.arrows-container {
  display: flex;
  justify-content: space-between;
width: 100%
margin-top: 10px
}

.arrow-button {
  background-color: #eee;
  border: 1px solid #ddd;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
width: 25%
}


#modal-score {
    font-weight: bold;
    font-size: 24px;
}
